@charset "utf-8";

html {
    font-size: 100%;
}

body {
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
    line-height: 1.7;
}

a {
    text-decoration: none;
}

/* header */
header {
    background: #3C4767;
}

/* menu */
#menu {
    display: flex;
    justify-content: space-between;
}

.main-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 15px;
    list-style: none;
}

.main-nav li {
    margin-left: 15px;
}

.main-nav a {
    color: #6C6C6C;
}

.main-nav a:hover {
    color: orangered;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 2px solid #6C6C6C;
    background-color: aquamarine;

}



/* btn */
.btn {
    background: transparent;
}

/* post */
.form-group {
    height: auto;
    width: 90%;
    justify-content: center;
}

p.user-icon {
    width: 55px;
    height: 55px;
}

.post-form {
    border-bottom: #3C4767;
}

.newposts {
    width: 90%;
    height: 80px;
}

/* postボタン */
button {
    padding: 0;
    border: none;
    background: transparent;
}

/* timeline */
table {
    width: 100%;
}

tr {
    height: 50px;
    padding: 0;
    margin: 0;
}

td {
    padding: 0;
    margin: 0;
    font-size: 15px;
    vertical-align: middle;
    border-bottom: 1px solid #6C6C6C;
}

td img {
    vertical-align: center;
}

td.username {
    font-size: 12px;
    vertical-align: text-top;
}

td.timeline-post {
    font-size: 15px;
    text-align: left;
}

td.timestamp {
    font-size: 12px;
    text-align: right;
    vertical-align: text-top;
}

tr.edit {
    border: #3C4767;
}

/* delete */
.btn-danger img {
    width: 55px;
    height: 55px;
    display: inline-block;
    background: url(/images/trash.png);
}

a.btn-danger:hover img {
    content: url(/images/trash_h.png);
}

/* モーダル  */
.modal {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    /* モーダルの背景色と透明度 */
}

/* モーダルのコンテンツのスタイル */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* モーダルの閉じるボタンのスタイル */
.modalClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 検索ボタン */
.btn-primary {
    width: 40px;
    height: 40px;
}
